{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
        This a Blog Page website created by Vaibhav Hanskar using Django Framework.
        <br> In this website a user can create their own profile.
        After creating the profile user can Check for the blogs uploaded by other users.
        User can Create, Update and Delete their posts.
        User can Update their profile like changing username, email address, profile picture when required.
    </p>
{% endblock content%}